{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block meta %}
	{{ parent() }}
	<meta name="description" content="{{ 'site.description' | trans }}">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('site') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('site') }}
{% endblock %}

{% block debug %}
	<nav class="nav">
		<a class="nav-link active" href="{{path('app_login')}}">Login</a>
		{% if user %}
		<a class="nav-link" href="{{path('app_logout')}}">Log out</a>
		{% else %}
		<a class="nav-link disabled" href="{{path('app_logout')}}" tabindex="-1" aria-disabled="true">Log out</a>
		{% endif %}
	</nav>
{% endblock %}

{% block body %}

	<div class=".container-fluid">

	</div>

{% endblock %}